.header {
    background-color: #FFFFFF;
    padding: 5px 30px;
    border-bottom: 1px solid map(colors, primary, dark).5;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 5px 0;
}

.header-wrapper-title-link {
    color: map(colors, text, primary);
}