<meta property="og:title" content="{% include title.html %}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="//placehold.it/400x300" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="300" />

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
<meta name="twitter:title" content="{% include title.html %}">
<meta name="twitter:description" content="Lorem ipsum">
<meta name="twitter:image" content="//placehold.it/400x300">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ site.twitter_username }}">