.header {
    border-top: 6px solid map(colors, primary, dark);
    border-bottom: 1px solid map(colors, divider);
    background-color: map(colors, primary, color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.header-title-link {
    color: map(colors, primary, text);
}