.nav {
    display: inline-flex;
    align-items: center;
}

.nav-item + .nav-item {
    margin-left: 20px;
}

.nav-item-link {
    color: map(colors, text, primary);
    position: relative;


    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 0;
        background-color: map(colors, accent);
        position: absolute;
        bottom: -5px;
        right: 0;
        transition: all ease 200ms;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}
