.hdg {
    @map fonts headline;
    font-weight: bold;
}

.hdg_1 {
    @map typography kilo;
}

.hdg_2 {
    @map typography alpha;
}

.hdg_3 {
    @map typography beta;
}

.hdg_4 {
    @map typography gamma;
}

.hdg_5 {
    @map typography delta;
}

.hdg_7 {
    @map typography epsilon;
}

.hdg_secondary {
    @map fonts regular;
    font-weight: bold;
    color: map(colors, text, secondary);
}

.hdg_normal {
    font-weight: normal;
}