<footer class="footer">
    <div class="footer-icon">
        <a href="#">
            <span class="icon icon-twitter">
                <span class="isVisuallyHidden">Twitter</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="#">
            <span class="icon icon-instagram">
                <span class="isVisuallyHidden">Instagram</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="">
            <span class="icon icon-github">
                <span class="isVisuallyHidden">Github</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="#">
            <span class="icon icon-linkedin">
                <span class="isVisuallyHidden">LinkedIn</span>
            </span>
        </a>
    </div>
</footer>
