<footer class="footer">
    <div class="footer-icon">
        <a href="//twitter.com/{{ site.twitter_username }}" target="_blank">
            <span class="icon icon-twitter">
                <span class="isVisuallyHidden">Twitter</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="//www.instagram.com/{{ site.instagram_username }}/" target="_blank">
            <span class="icon icon-instagram">
                <span class="isVisuallyHidden">Instagram</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="//github.com/{{ site.github_username }}" target="_blank">
            <span class="icon icon-github">
                <span class="isVisuallyHidden">Github</span>
            </span>
        </a>
    </div>
    <div class="footer-icon">
        <a href="//www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
            <span class="icon icon-linkedin">
                <span class="isVisuallyHidden">LinkedIn</span>
            </span>
        </a>
    </div>
</footer>

<script src="{{ " /assets/js/main.js" | prepend: site.baseurl }}"></script>
