<nav role="navigation">
    <h2 class="isVisuallyHidden">Site Navigation</h2>
    <ul class="nav">
        {% for my_page in site.pages %} {% if my_page.title %}
        {% unless my_page.exclude_from_nav %}
        <li class="nav-item">
            {% if my_page.title == 'Blog' %}
            <a class="nav-item-link" href="//medium.com/@{{ site.medium_username }}" target="_blank">{{ my_page.title }}</a>
            {% else %}
            <a class="nav-item-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
        </li>
        {% endunless %}
        {% endif %} {% endfor %}
    </ul>
</nav>