<h3 class="isVisuallyHidden">Other Blog Posts</h3>
<ul class="postList">
    {% for post in include.posts %}
        {% unless post.featured %}
        <li class="postList-item">
            <article class="postList-item-article">
                <div class="postList-item-article-title">
                    <h4 class="hdg hdg_5"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                </div>
                <div class="postList-item-article-desc">
                    {% if include.show_category %}
                    <div>Categories: {% include blog/categories.html post=post %}</div>
                    {% endif %}
                    <div>Publish Date: {{post.date | date: "%Y-%m-%d"}}</div>
                </div>
            </article>
        </li>
        {% endunless %}
    {% endfor %}
</ul>