{% for post in site.posts %}
    {% if post.featured %}
    <h3 class="isVisuallyHidden">Featured Blog Post</h3>
    <article class="featuredPost">
        <div class="featuredPost-desc">
            <div class="featuredPost-desc-title">
                <a href="{{ post.url }}">
                    <h4 class="hdg hdg_4">{{ post.title }}</h4>
                </a>
                <span>{{ post.date | date_to_string }}</span>
            </div>
            <div class="featuredPost-desc-excerpt">
                {{ post.excerpt }}
            </div>
            <div class="featuredPost-desc-cta">
                <a href="{{ post.url }}">Read More</a>
            </div>
        </div>
        {% if post.featured_image %}
        <div class="featuredPost-img">
            <img src="{{post.featured_image}}" alt="">
        </div>
        {% endif %}
    </article>

    {% endif %}
{% endfor %}