.userContent {
    @mixin clearfix;

    .hdg {
        margin-bottom: 20px;
    }

    p + p {
        margin-top: 20px;
    }

    strong, b {
        font-weight: bold;
    }

    em, i {
        font-style: italic;
    }

    hr {

    }

    .left {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}