html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-color: #FAFAFA;
    @map fonts regular;
    @map typography zeta;
}

.bodyFlex {
    display: flex;
    flex-direction: column;
}

.isVisuallyHidden {
    @mixin isVisuallyHidden;
}


a {
    text-decoration: none;
    color: map(colors, text, secondary);
    transition: 250ms ease all;

    &:hover {
        color: map(colors, primary,dark);
    }
}