.post {

}

.post-hd {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &:after {
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        width: 100px;
        background-color: map(colors, divider);
        bottom: 0;
        left: 0;
    }
}

.post-hd-meta {
    margin-top: 10px;
}