/* ------------------------------------------------
RESET CSS (thanks Eric Meyer)
------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
:focus {
    outline-width: 0;
}
html {
    overflow-y: scroll;

    /* Always show a vertical scrollbar, even when there is no scrolling */
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* ------------------------------------------------
 HTML5 Element Reset
------------------------------------------------ */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
audio, canvas, video, progress, picture {
    display: inline-block;
}
template {
    display: none;
}

/* ------------------------------------------------
 Form Reset Styles
------------------------------------------------ */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}
input[type="search"] {
    -webkit-appearance: none;
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
::-moz-focus-inner {
    border: 0;
    padding: 0;
}
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    height: 100%;
    background-color: #FAFAFA;
    font-family: 'Lato', sans-serif;;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.bodyFlex {
    display: flex;
    flex-direction: column;
}
.isVisuallyHidden {
    width: 0.0625rem;
    height: 0.0625rem;
    margin: -0.0625rem;
    padding: 0;
    border: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
    color: #727272;
    transition: 250ms ease all;
}
a:hover {
    color: #1976D2;
}

/* Landmarks */
.header {
    background-color: #FFFFFF;
    padding: 0.3125rem 1.875rem;
    border-bottom: 0.0625rem solid rgba(25, 118, 210, 0.5);
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 43.75rem;
    margin: 0 auto;
    padding: 0.3125rem 0;
}
.header-wrapper-title-link {
    color: #212121;
}
.nav {
    display: inline-flex;
    align-items: center;
}
.nav-item + .nav-item {
    margin-left: 1.25rem;
}
.nav-item-link {
    color: #212121;
    position: relative;
}
.nav-item-link:after {
    content: '';
    display: block;
    height: 0.125rem;
    width: 0;
    background-color: #1976D2;
    position: absolute;
    bottom: -0.3125rem;
    right: 0;
    transition: all ease 200ms;
}
.nav-item-link:hover {
    color: #727272;
}
.nav-item-link:hover:after {
    width: 100%;
}
.title {
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.title-sub {
    display: block;
    text-align: right;
    font-size: 0.75rem;
    line-height: 1.125rem;
}
.main {
    margin-top: 2.5rem;
}
.main_flex {
    margin: 0;
    display: flex;
    flex: 1 1 auto;
}
.footer {
    text-align: center;
    margin: 2.5rem auto 0;
    display: flex;
    max-width: 9.375rem;
    justify-content: center;
    border-top: 0.0625rem solid #B6B6B6;
    padding: 0.625rem 1.25rem;
}
.footer-icon {
    font-size: 1rem;
    line-height: 1.5rem;
}
.footer-icon + .footer-icon {
    margin-left: 0.75rem;
}

/* Layout */
.section-wrap {
    max-width: 45rem;
    margin: 0 auto;
    padding: 0 0.625rem;
}
.section-wrap_full {
    max-width: none;
    padding: 0;
}
.vr {
    margin-bottom: 0.625rem;
}
.vr_md {
    margin-bottom: 0.9375rem;
}
.vr_lg {
    margin-bottom: 1.25rem;
}
.vr_xl {
    margin-bottom: 1.5625rem;
}
.vr_xxl {
    margin-bottom: 1.875rem;
}
.wrapper {
    max-width: 63.75rem;
    margin: 0 auto;
    padding: 0 0.625rem;
}

/* Container */
.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.featuredPost {
    display: flex;
    flex-direction: column;
}
.featuredPost-img {
    margin-right: 1.25rem;
    order: 1;
}
.featuredPost-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
}
.featuredPost-desc > * + * {
    margin-top: 1.25rem;
}
.intro {
    text-align: center;
    padding: 2.5rem 1.875rem 1.25rem;
}
.intro > * + * {
    margin-top: 1.25rem;
}
.panel {
    background-color: #FFFFFF;
    padding: 0.625rem;
    box-shadow: 0rem 0rem 0.625rem -0.3125rem rgba(0,0,0,0.5);
}
.panel_push {
    padding: 1.25rem;
}
.post {}
.post-hd {
    position: relative;
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
}
.post-hd:after {
    position: absolute;
    content: '';
    display: block;
    height: 0.125rem;
    width: 6.25rem;
    background-color: #B6B6B6;
    bottom: 0;
    left: 0;
}
.post-hd-meta {
    margin-top: 0.625rem;
}
.postList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 1.875rem;
}
.postList-item {
    flex: 0 1 100%;
    margin-top: 2.5rem;
}
.postList-item:first-child {
    margin-top: 0;
}
.postList-item-article > * + * {
    margin-top: 0.625rem;
}
.postList-item-article-desc {
    font-size: 0.875rem;
    line-height: 1.375rem;
}
/* Tablet Media Query */

/* Content */
.btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent;
    border: none;
    display: inline-block;
    border: 0.0625rem solid #1976D2;
    color: #1976D2;
    padding: 0.625rem 1.25rem;
    transition: 250ms ease all;
    font-size: 1em;
}
.btn:hover {
    background: #1976D2;
    color: #FFFFFF;
}
.code {
    font-family: 'Courier New', monospace;
}
.hdg {
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    font-weight: bold;
}
.hdg_1 {
    font-size: 2.3125rem;
    line-height: 2.375rem;
}
.hdg_2 {
    font-size: 1.875rem;
    line-height: 2.1875rem;
}
.hdg_3 {
    font-size: 1.75rem;
    line-height: 2rem;
}
.hdg_4 {
    font-size: 1.5rem;
    line-height: 2rem;
}
.hdg_5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.hdg_7 {
    font-size: 1.125rem;
    line-height: 2rem;
}
.hdg_secondary {
    font-family: 'Lato', sans-serif;;
    font-weight: normal;
    font-weight: bold;
    color: #727272;
}
.hdg_normal {
    font-weight: normal;
}
.heart {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    animation: heartBeat 2.5s infinite;
    display: inline-block;
    transform-origin: center;
    margin-left: 0.3125rem;
    width: 1.25rem;
    color: #E53935;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.heart:before {
    content: "\e904";
}
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icons/icomoon.ttf?xwzdg5') format('truetype'),
        url('../fonts/icons/icomoon.woff?xwzdg5') format('woff'),
        url('../fonts/icons/icomoon.svg?xwzdg5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {

    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-spinner2:before {
    content: "\e900";
}
.icon-codepen:before {
    content: "\e901";
}
.icon-embed:before {
    content: "\e902";
}
.icon-embed2:before {
    content: "\e903";
}
.icon-heart:before {
    content: "\e904";
}
.icon-linkedin:before {
    content: "\e905";
}
.icon-github:before {
    content: "\e906";
}
.icon-twitter:before {
    content: "\e907";
}
.icon-spotify:before {
    content: "\e908";
}
.icon-instagram:before {
    content: "\e909";
}
.userContent:before {
    content: " ";
    display: table;
}
.userContent:after {
    content: " ";
    display: table;
    clear: both;
}
.userContent .hdg {
    margin-bottom: 1.25rem;
}
.userContent p {
    line-height: 1.8;
}
.userContent p + p {
    margin-top: 1.25rem;
}
.userContent strong,
    .userContent b {
    font-weight: bold;
}
.userContent em,
    .userContent i {
    font-style: italic;
}
.userContent hr {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.875rem 0;
}
.userContent hr:after {
    content: '';
    width: 6.25rem;
    height: 0.125rem;
    background-color: rgba(182, 182, 182, 0.3);
}
.userContent img {
    display: block;
    margin: 0.625rem auto;
}


.highlight {
    background: #FAFAFA;
    margin: 1.25rem 0;
    padding: 0.625rem;
    border: 0.125rem solid #B6B6B6;
    position: relative;

    /* Other major browsers */
}


.highlight code:before {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    right: 0;
    background-color: #B6B6B6;
    color: #FFFFFF;
    padding: 0.3125rem 0.625rem;
    font-family: 'Francois One', sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1.125rem;
    text-transform: uppercase;
}


.highlight pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}


.highlight .c {
    color: #999988;
    font-style: italic;
}


/* Comment */


.highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
}


/* Error */


.highlight .k {
    font-weight: bold;
}


/* Keyword */


.highlight .o {
    font-weight: bold;
}


/* Operator */


.highlight .cm {
    color: #999988;
    font-style: italic;
}


/* Comment.Multiline */


.highlight .cp {
    color: #999999;
    font-weight: bold;
}


/* Comment.Preproc */


.highlight .c1 {
    color: #999988;
    font-style: italic;
}


/* Comment.Single */


.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
}


/* Comment.Special */


.highlight .gd {
    color: #000000;
    background-color: #ffdddd;
}


/* Generic.Deleted */


.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa;
}


/* Generic.Deleted.Specific */


.highlight .ge {
    font-style: italic;
}


/* Generic.Emph */


.highlight .gr {
    color: #aa0000;
}


/* Generic.Error */


.highlight .gh {
    color: #999999;
}


/* Generic.Heading */


.highlight .gi {
    color: #000000;
    background-color: #ddffdd;
}


/* Generic.Inserted */


.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa;
}


/* Generic.Inserted.Specific */


.highlight .go {
    color: #888888;
}


/* Generic.Output */


.highlight .gp {
    color: #555555;
}


/* Generic.Prompt */


.highlight .gs {
    font-weight: bold;
}


/* Generic.Strong */


.highlight .gu {
    color: #aaaaaa;
}


/* Generic.Subheading */


.highlight .gt {
    color: #aa0000;
}


/* Generic.Traceback */


.highlight .kc {
    font-weight: bold;
}


/* Keyword.Constant */


.highlight .kd {
    font-weight: bold;
}


/* Keyword.Declaration */


.highlight .kp {
    font-weight: bold;
}


/* Keyword.Pseudo */


.highlight .kr {
    font-weight: bold;
}


/* Keyword.Reserved */


.highlight .kt {
    color: #445588;
    font-weight: bold;
}


/* Keyword.Type */


.highlight .m {
    color: #009999;
}


/* Literal.Number */


.highlight .s {
    color: #d14;
}


/* Literal.String */


.highlight .na {
    color: #008080;
}


/* Name.Attribute */


.highlight .nb {
    color: #0086B3;
}


/* Name.Builtin */


.highlight .nc {
    color: #445588;
    font-weight: bold;
}


/* Name.Class */


.highlight .no {
    color: #008080;
}


/* Name.Constant */


.highlight .ni {
    color: #800080;
}


/* Name.Entity */


.highlight .ne {
    color: #990000;
    font-weight: bold;
}


/* Name.Exception */


.highlight .nf {
    color: #990000;
    font-weight: bold;
}


/* Name.Function */


.highlight .nn {
    color: #555555;
}


/* Name.Namespace */


.highlight .nt {
    color: #000080;
}


/* Name.Tag */


.highlight .nv {
    color: #008080;
}


/* Name.Variable */


.highlight .ow {
    font-weight: bold;
}


/* Operator.Word */


.highlight .w {
    color: #bbbbbb;
}


/* Text.Whitespace */


.highlight .mf {
    color: #009999;
}


/* Literal.Number.Float */


.highlight .mh {
    color: #009999;
}


/* Literal.Number.Hex */


.highlight .mi {
    color: #009999;
}


/* Literal.Number.Integer */


.highlight .mo {
    color: #009999;
}


/* Literal.Number.Oct */


.highlight .sb {
    color: #d14;
}


/* Literal.String.Backtick */


.highlight .sc {
    color: #d14;
}


/* Literal.String.Char */


.highlight .sd {
    color: #d14;
}


/* Literal.String.Doc */


.highlight .s2 {
    color: #d14;
}


/* Literal.String.Double */


.highlight .se {
    color: #d14;
}


/* Literal.String.Escape */


.highlight .sh {
    color: #d14;
}


/* Literal.String.Heredoc */


.highlight .si {
    color: #d14;
}


/* Literal.String.Interpol */


.highlight .sx {
    color: #d14;
}


/* Literal.String.Other */


.highlight .sr {
    color: #009926;
}


/* Literal.String.Regex */


.highlight .s1 {
    color: #d14;
}


/* Literal.String.Single */


.highlight .ss {
    color: #990073;
}


/* Literal.String.Symbol */


.highlight .bp {
    color: #999999;
}


/* Name.Builtin.Pseudo */


.highlight .vc {
    color: #008080;
}


/* Name.Variable.Class */


.highlight .vg {
    color: #008080;
}


/* Name.Variable.Global */


.highlight .vi {
    color: #008080;
}


/* Name.Variable.Instance */


.highlight .il {
    color: #009999;
}


/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */


.highlight .lineno {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}


/* Literal.Number.Integer.Long */


.highlight .lineno::-moz-selection {
    background-color: transparent;
}


/* Mozilla specific */


.highlight .lineno::-moz-selection {
    background-color: transparent;
}


.highlight .lineno::selection {
    background-color: transparent;
}


@media (min-width: 600px) {
    .featuredPost {
        flex-direction: row;
    }
    .featuredPost-desc-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .postList {
        flex-direction: row;
        padding: 0;
    }
    .postList-item:nth-child(-n+2) {
        margin-top: 0;
    }
    .postList-item {
        flex: 0 1 50%;
        margin-top: 2.5rem;
        padding-right: 1.25rem;
    }
    .userContent .left {
        float: left;
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
    }
    .userContent .right {
        float: right;
        margin-left: 0.625rem;
        margin-bottom: 0.625rem;
    }
}
