.featuredPost {
    display: flex;
    flex-direction: column;
}

.featuredPost-img {
    margin-right: 20px;
    order: 1;
}

.featuredPost-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    order: 2;
}

.featuredPost-desc > * + * {
    margin-top: 20px;
}

@media (min-width: map(queries, tablet)) {
    .featuredPost {
        flex-direction: row;
    }
    .featuredPost-desc-title {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
