.btn {
    @mixin btnReset;
    display: inline-block;
    border: 1px solid map(colors, primary, dark);
    color: map(colors, primary, dark);
    padding: 10px 20px;
    transition: 250ms ease all;
    font-size: 1em;


    &:hover {
        background: map(colors, primary, dark);
        color: #FFFFFF;
    }
}