<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        <main role="main" id="main" class="main">
            <div class="section">
                <div class="section-wrap">
                    <div class="vr vr_xxl">
                        <h2 class="hdg hdg_3">Explore posts relating to {{ page.type }} '{{ page.title | upcase }}'</h2>
                    </div>
                    
                    {% include blog/blog-list.html posts=page.posts %}  
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>

</html>
