---
layout: default
---
<div class="section">
    <div class="section-wrap">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-hd">
                <div class="post-hd-title">
                    <h1 class="hdg hdg_1" itemprop="name headline">{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <div class="hdg hdg_4 hdg_secondary hdg_normal">{{ page.subtitle }}</div>
                    {% endif %}
                </div>
                <div class="post-hd-meta">

                    {% if page.author %}
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>
                    •
                    {% endif %}

                    <span datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>

                    {% if page.categories %}
                    •
                    <span>{{ page.categories | join: ', ' }}</span>
                    {% endif %}

                </div>
            </header>
            <div class="post-content" itemprop="articleBody">
                {{ content }}
            </div>
        </article>
    </div>
</div>
