.postList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 30px;
}

.postList-item {
    flex: 0 1 100%;
    margin-top: 40px;
}

.postList-item:first-child {
    margin-top: 0;
}

.postList-item-article > * + * {
    margin-top: 10px;
}

.postList-item-article-desc {
    @map typography micro;
}


/* Tablet Media Query */

@media (min-width: map(queries, tablet)) {
    .postList {
        flex-direction: row;
        padding: 0;
    }

    .postList-item:nth-child(-n+2) {
        margin-top: 0;
    }

    .postList-item {
        flex: 0 1 50%;
        margin-top: 40px;
        padding-right: 20px;
    }
}
